.grid {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -40rem;

    .row {
        position: absolute;
        max-width: $max-width;
        margin: 2rem;

        .col-1-of-3 {
            display: flex;
        }
    }
}

@media only screen and (max-width: 915px) {
    .col-1-of-3 {
        flex-direction: column;
        max-width: 50rem;
    }
}
