@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif; }

body {
  box-sizing: border-box;
  background-color: #eef5f7; }

.u-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.u-margin-right-tiny {
  margin-right: 0.5rem; }

.u-margin-left-small {
  margin-left: 1.4rem; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 40rem;
  padding: 1.8rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  cursor: pointer; }
  .card:not(:last-child) {
    margin-right: 2rem; }
  .card__title {
    font-size: 2rem; }
  .card__img {
    width: 100%;
    height: 70%;
    object-fit: cover; }
  .card__link, .card__link:visited {
    text-decoration: none;
    color: #246ddb;
    font-size: 1.3rem; }

.grid {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -40rem; }
  .grid .row {
    position: absolute;
    max-width: 150rem;
    margin: 2rem; }
    .grid .row .col-1-of-3 {
      display: flex; }

@media only screen and (max-width: 915px) {
  .col-1-of-3 {
    flex-direction: column;
    max-width: 50rem; } }

.header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 70rem; }
  .header__text {
    position: absolute;
    text-align: center;
    color: #000;
    margin-top: 8rem; }
    .header__text--main {
      font-size: 6rem;
      margin-bottom: 2rem; }
    .header__text--sub, .header__text--sub:visited {
      font-size: 2.5rem;
      color: #000; }
  .header__img {
    max-width: calc(150rem + (2rem * 2));
    width: 100%;
    background-image: linear-gradient(0deg, #eef5f7 0%, #eef5f7 10%, transparent 70%), url(../public/kitchen_promo_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; }

@media only screen and (max-width: 915px) {
  .header__text {
    margin-top: 5rem; }
    .header__text--main {
      font-size: 5rem; } }

.navbar {
  padding: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.25rem;
  color: #fff;
  background-color: #2a2a4b;
  height: 6rem; }
  .navbar__logo {
    cursor: pointer; }
  .navbar__search {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 1rem 0 1rem; }
    .navbar__search--dropdown {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: #e9e9e9;
      border-right: 1px solid #c2c2c2;
      color: #000;
      border-radius: 5px 0px 0px 5px;
      width: 5rem;
      height: 100%;
      left: 0;
      cursor: pointer; }
      .navbar__search--dropdown-icon {
        color: #000;
        z-index: 1; }
    .navbar__search--input {
      width: 100%;
      height: 4rem;
      padding: 0 5.5rem 0 5.5rem;
      border: none;
      border-radius: 5px;
      font-size: 1.4rem; }
      .navbar__search--input:focus {
        outline: none;
        box-shadow: 0 0 2px 2px #e79a0b; }
    .navbar__search--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: #f7ad24;
      border-left: 1px solid #e79a0b;
      color: #000;
      border-radius: 0px 5px 5px 0px;
      width: 5rem;
      height: 100%;
      right: 0;
      font-size: 1.8rem;
      cursor: pointer; }
  .navbar__links {
    cursor: pointer;
    margin: 0 0.5rem 0 0.5rem; }
    .navbar__links--sub {
      font-size: 1.3rem;
      font-weight: 700; }

.navbar-secondary {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
  background-color: #434372; }
  .navbar-secondary__links {
    cursor: pointer; }

@media only screen and (max-width: 915px) {
  .navbar__links:not(:last-child) {
    visibility: hidden;
    justify-content: space-between; }
  .navbar__search {
    display: none; }
  .navbar-secondary__links:not(:first-child) {
    display: none; } }
